{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="http://www.polymer-project.org/1.0/samples/components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Polymer To-do</title>
  {% include "todo/todo_polymer.html" %}

  </head>
  <body>
  <div class="container">
    <div class="row">
      <h1>To-do Polymer</h1>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Add new to-do...">
        <span class="input-group-btn">
        <button class="btn btn-success" type="button" onclick="addtodo(this.id)">Add To-Do!</button>
        </span>
      </div><!-- /input-group -->

      <hr>
      {% for todo in todos %}
      <to-do>
          {{ todo.todo }}
      </to-do>
      {% endfor %}
    </div>
  </div>
  </body>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{% static 'js/custom.js' %}"></script>
</html>
